<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLACEHOLDER_TREE_NAME</title>
    <style>
        body {
            margin: 0;
            width: 100%;
            overflow: hidden;
            height: 100vh;
        }
        #main-container {
            display: flex;
            justify-content: center;
            align-items: end;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="main-container">

    </div>
    <script>
        PLACEHOLDER_APP_CODE
    </script>
</body>

</html>